.config/lf/files
.config/lf/history
.config/vim/autoload/plug.vim
.config/vim/backup/*
.config/vim/swap/*
.config/vim/undo/*
.config/vim/view/*
.config/vim/viminfo
.w3m/bookmark.html
.w3m/cookie
.w3m/history
.zsh/.zcompcache
.zsh/.zcompdump*
.zsh/.zsh_history
windows/posh/Modules
