*~
*.sw?
.config/git/store
.vim/NERDTreeBookmarksFile
.vim/autoload/plug.vim*
.vim/plugged/
.vim/viminfo
.vim/vimspector/gadgets/
.vim/winstat
.w3m/cookie
.w3m/history
.w3m/w3mcache*
.zsh/.zcompcache
.zsh/.zcompdump*
.zsh/.zsh_history
windows/posh/Modules
