snippet jdate "%Y/%m/%d"
`!v strftime("%Y/%m/%d")`
endsnippet

snippet jdatetime "%Y/%m/%d %H:%M"
`!v strftime("%Y/%m/%d %H:%M")`
endsnippet

snippet jddate "%Y年%m月%d日"
`!v strftime("%Y年%m月%d日")`
endsnippet

snippet jddatetime "%Y年%m月%d日 %H時%M分"
`!v strftime("%Y年%m月%d日 %H時%M分")`
endsnippet
